@import './globals/_variables.scss';
@import './globals/_mixins.scss';
@import './globals/_form.scss';
@import './globals/_dashboard.scss';
@import './globals/readerDashboard';
@import './globals/public';


:root {
    font-family: $font-style;
    line-height: 1.5;
    font-weight: 400;

    color: $dark-blue;
    background-color: $light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body{
    margin: 0 auto;
}

.divContent {
    min-height: 100vh;
    padding-bottom:100px;
}

.menu {
    @include flexRow;
    align-items: center;
    height: 15vh;

    img {
        width: 150px;
        @media screen and (max-width: 768px) {
            width: 25%;
        }
    }

    nav {
        flex: 1;
        ul {
            @include flexRow;
            gap: 20px;
            list-style: none;
            justify-self: center;

            a {
                text-decoration: none;
                color: $dark-blue;
            }
        }

        .activeLink {
            color: $orange;
        }
    }
}

.headerMenu {
    width: 100%;
    background-color: $dark-blue;
    overflow: hidden;
    height: 300px;
}

.imageHeader {
    max-width: 100%;
    min-height: 100%;
    opacity: 20%;
    object-fit: cover;
}

footer {
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: $dark-blue;
    color: $light;
    img {
        width: 85px;
    }
    p {
        font-size: 8pt;
        white-space: normal;
        margin: 20px;
    }
    .notice {
        text-align: center;
        margin: 0;
    }
}


p {
    text-align: left;
}

.bar {
    // border-left: 1px solid $dark-blue;
    padding-left: 1px;
    background: #2D3250;
    background-image: linear-gradient(to bottom, #f6f6ee, #2D3250, #f6f6ee);
    // background: linear-gradient(to bottom, #f6f6ee, #2D3250, #f6f6ee);
    @media screen and (max-width: 1023px) {
        padding-bottom: 1px;
        background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
        margin-top: 10px;
    }
}

.flexRow {
    @include flexRow;
}

.flexRowWrap {
    @include flexRowWrap;
}

.flexColumn {
    @include flexColumn;
}
.flexAttribute {
    @include flexAttribute;
}

@media screen and (max-width: 767px) {
    .responsiveFlexColumn {
        @include flexColumn;
    }
}

.centerContainer {
    margin-left: 150px;
    margin-right: 150px;
}

.colorOrange {
    color: $orange;
}
