@import './globals/_variables.scss';
@import './globals/_mixins.scss';
@import './globals/_form.scss';
@import './globals/_dashboard.scss';
@import './globals/readerDashboard';
@import './globals/public';
@import './globals/errors';


:root {
    font-family: $font-style;
    line-height: 1.5;
    font-weight: 400;

    color: $dark-blue;
    background-color: $light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0 auto;
}

.divContent {
    min-height: 100vh;
    padding-bottom: 100px;
}

main {
    margin-top: 30px;
}

// .menu {
//     @include flexRow;
//     align-items: center;
//     height: 15vh;

//     img {
//         width: 150px;
//         @media screen and (max-width: 768px) {
//             width: 25%;
//         }
//     }

//     nav {
//         flex: 1;
//         ul {
//             @include flexRow;
//             gap: 20px;
//             list-style: none;
//             justify-self: center;

//             a {
//                 text-decoration: none;
//                 color: $dark-blue;
//             }
//         }

//         .activeLink {
//             color: $orange;
//         }
//     }
// }

nav {
    @include flexRow;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: calc(0.5rem + 0.8vw);

    @media screen and (min-width: 650px) and (max-width: 1024px) {
        justify-content: space-around;
    }

    img {
        width: 120px;

        @media screen and (max-width: 768px) {
            width: 20%;
            z-index: 2;
        }
    }

    ul {
        @include flexRow;
        justify-content: space-between;
        width: 60%;
        list-style: none;

        @media screen and (min-width: 650px) and (max-width: 1024px) {
            justify-content: space-around;
        }

        a {
            text-decoration: none;
            color: $dark-blue;
        }
    }

    .buttonLog {
        text-decoration: none;
        text-align: center;
        color: $dark-blue;
        padding: 10px 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font-family: "Lustria";
        font-size: calc(0.5rem + 0.8vw);
    }

    .responsiveButton {
        display: none;
    }

    .activeButton {
        display: block;
    }

    .activeLink {
        color: $orange;
    }


    @media screen and (max-width: 650px) {
        ul {
            position: fixed;
            left: -100%;
            top: 4%;
            flex-direction: column;
            background: $light;
            width: 94%;
            text-align: center;
            transition: 0.25s;
        }

        li {
            padding: 3px;
        }
        a {
            margin-right: 38%;
        }

        .responsiveButton {
            display: block;
        }

        .activeButton {
            display: none;
        }

        .toggleNav {
            z-index: 1;
            left: 0;
            position: sticky;
        }

        .removeBtn {
            z-index: 2;
        }
    }

}

.headerMenu {
    position: relative;
    width: 100%;
    background-color: $dark-blue;
    overflow: hidden;
    height: 300px;

    @media screen and (max-width: 768px) {
        height: 200px;
    }
}

.imageHeader {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    opacity: 20%;
    object-fit: cover;
}

.titleBlock {
    position: relative;
    z-index: 1;
    width: 30%;
    float: right;
    margin: 100px;

    @media screen and (min-width: 768px) and (max-width: 950px) {
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        width: auto;
        margin: 50px;
    }

    @media screen and (max-width: 500px) {
        margin: 40px;
    }

    p {
        color: $light;
        font-size: 10pt;
        text-align: start;
    }
}

footer {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: $dark-blue;
    color: $light;

    img {
        width: 85px;
    }

    p {
        font-size: 8pt;
        white-space: normal;
        margin: 20px;
    }

    .notice {
        text-align: center;
        margin: 0;
    }
}


p {
    text-align: left;
}

.bar {
    // border-left: 1px solid $dark-blue;
    padding-left: 1px;
    background: #2D3250;
    background-image: linear-gradient(to bottom, #f6f6ee, #2D3250, #f6f6ee);

    // background: linear-gradient(to bottom, #f6f6ee, #2D3250, #f6f6ee);
    @media screen and (max-width: 1023px) {
        padding-bottom: 1px;
        background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
        margin: 10px;
    }
}

.flexRow {
    @include flexRow;
}

.flexRowWrap {
    @include flexRowWrap;

    @media screen and (max-width: 500px) {
        justify-content: center;
    }
}

.flexColumn {
    @include flexColumn;
}

.flexAttribute {
    @include flexAttribute;
}

.flexResponsive {
    @include flexRow;

    @media screen and (max-width: 767px) {
        @include flexColumn;
    }
}

@media screen and (max-width: 767px) {
    .responsiveFlexColumn {
        @include flexColumn;
    }
}


.centerContainer {
    margin-left: 250px;
    margin-right: 250px;
    @media screen and (max-width: 1600px) {
        margin-left: 200px;
        margin-right: 200px;
    }

    @media screen and (max-width: 1280px) {
        margin-left: 100px;
        margin-right: 100px;
    }

    @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        margin-right: 0;

    }
}

.colorOrange {
    color: $orange;
}