@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap"); /**
 * Page du style pour les formulaires
 */
.mainRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .mainRow {
    display: flex;
    flex-direction: column;
  }
}

.container, .h2Form {
  width: 48%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #2D3250;
}
@media screen and (max-width: 1023px) {
  .container, .h2Form {
    width: 90%;
  }
}

form, .form {
  padding: 30px;
  background: #f6f6ee;
}

input[type=email], input[type=password], input[type=tel], input[type=text], input[type=number], input[type=date], input[type=search], input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #2D3250;
  color: #f6f6ee;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #f6f6ee;
  color: #2D3250;
  border: 1px solid #2D3250;
}

input[type=button] {
  background-color: #f6f6ee;
  color: #2D3250;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #2D3250;
  cursor: pointer;
  width: 100%;
}

.button {
  text-decoration: none;
  background-color: #2D3250;
  color: #f6f6ee;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #f6f6ee;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #676F9D;
  border: 1px solid #2D3250;
  border-radius: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  border-radius: 10px;
  box-sizing: border-box;
}

/**
 * Feuille de style pour le dashboard de l'administrateur
 */
.buttonBugger {
  text-decoration: none;
  text-align: center;
  color: #2D3250;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Lustria";
  font-size: calc(0.5rem + 0.8vw);
  margin-left: 20px;
  display: none;
}
@media screen and (max-width: 950px) {
  .buttonBugger {
    display: block;
  }
}

.list {
  width: 80%;
}
@media screen and (max-width: 950px) {
  .list {
    width: 95%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 650px) {
  .list {
    margin-left: 10px;
  }
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.dashboard .boxContainer {
  border: 1px solid #2D3250;
  border-radius: 10px;
  height: -moz-min-content;
  height: min-content;
  width: 190px;
  margin-left: 20px;
}
@media screen and (max-width: 950px) {
  .dashboard .boxContainer {
    position: fixed;
    left: -100%;
    transition: 0.25s;
  }
}
.dashboard .boxContainer .boxLien {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard .boxContainer .boxLien h2 {
  text-decoration: underline;
  text-align: center;
  margin: 10px 0 5px 0;
}
.dashboard .boxContainer hr {
  border: 0;
  height: 1px;
  background: #2D3250;
  background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
}
.dashboard .toggleNavAdmin {
  position: absolute;
  left: 0;
  background-color: #f6f6ee;
}
.dashboard .itemFlex {
  margin: 10px;
}
.dashboard .barLine {
  border-bottom: 1px solid #2D3250;
}
.dashboard .categoryContainer {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 50px;
}
@media screen and (max-width: 650px) {
  .dashboard .categoryContainer {
    margin-left: 20px;
  }
}
@media screen and (max-width: 900px) {
  .dashboard {
    gap: 30px;
  }
}

.sectionRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: flex-start;
  gap: 20px;
  width: 75%;
}
@media screen and (max-width: 767px) {
  .sectionRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.iconButton {
  text-decoration: none;
  width: 50px;
  height: 50px;
  color: #f6f6ee;
  padding: 14px 14px;
  margin: 8px 0;
  border: 1px solid #f6f6ee;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .iconButton {
    margin: 0;
  }
}

.eye {
  background-color: #676F9D;
  padding: 14px 13px;
}

.eye:hover {
  background-color: #2D3250;
}

.pen {
  background-color: #F8B179;
}

.pen:hover {
  background-color: #f48730;
}

.trash {
  background-color: #CD5C5C;
}

.trash:hover {
  background-color: #A62C31;
}

.buttonAdmin {
  text-decoration: none;
  text-align: center;
  color: #2D3250;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Lustria";
  font-size: 16px;
}

.spanEmpty {
  margin-left: 153px;
}
@media screen and (max-width: 767px) {
  .spanEmpty {
    margin-left: 53px;
  }
}

.sectionRowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 1023px) {
  .libraryContainer {
    margin-top: 20px;
  }
}

.libraryBook {
  width: 30%;
  gap: 10px;
}
@media screen and (max-width: 1023px) {
  .libraryBook {
    width: 48%;
  }
}
@media screen and (max-width: 650px) {
  .libraryBook {
    width: 100%;
  }
}

.coverContainerMini {
  width: 75px;
}
.coverContainerMini .coverMini {
  width: 100%;
}

.readerBook {
  width: 100%;
}
.readerBook h3 {
  margin: 0 0 5px 0;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  width: 24%;
}
@media screen and (max-width: 1023px) {
  .containerInfo {
    width: 100%;
    margin-left: 10px;
  }
}

.border {
  border: 1px solid #2D3250;
  border-radius: 10px;
  background-color: #2D3250;
}

.labelInfo {
  width: 125px;
}

.divColor {
  color: #f6f6ee;
}

.divMargin {
  margin: 10px;
}
@media screen and (max-width: 1023px) {
  .divMargin {
    margin: 3px;
  }
}

.bookIdContainer {
  width: 55%;
  border-radius: 10px;
  box-shadow: rgba(45, 50, 80, 0.15) 2px 2px 5px 0px, rgba(45, 50, 80, 0.15) -2px 2px 5px 0px;
  margin-top: 50px;
}
@media screen and (max-width: 950px) {
  .bookIdContainer {
    width: 95%;
  }
}
.bookIdContainer h2 {
  text-align: center;
  background-color: #2D3250;
  color: #f6f6ee;
  border-radius: 10px 10px 0 0;
  margin: 0;
  font-size: 16pt;
  min-height: 50px;
  padding: 15px 5px 0 5px;
}
.bookIdContainer h3 {
  margin: 0;
}
.bookIdContainer .coverContainer {
  width: 200px;
}
@media screen and (max-width: 767px) {
  .bookIdContainer .coverContainer {
    width: 95%;
    align-self: center;
  }
}
.bookIdContainer .coverContainer .cover {
  width: 100%;
}

.buttonContainerLibrary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridBook {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.blocCategory {
  text-align: center;
}
.blocCategory a {
  color: #2D3250;
  text-decoration: none;
}

.containerCategory {
  border-radius: 10px;
  box-shadow: rgba(45, 50, 80, 0.15) 2px 2px 5px 0px, rgba(45, 50, 80, 0.15) -2px 2px 5px 0px;
  width: 250px;
}
.containerCategory .coverCategory {
  width: 50px;
}
.containerCategory .coverCategory .coverMini {
  width: 100%;
}

.categoryIdContainer {
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(45, 50, 80, 0.15) 2px 2px 5px 0px, rgba(45, 50, 80, 0.15) -2px 2px 5px 0px;
  margin-top: 10px;
}
.categoryIdContainer a {
  color: #2D3250;
  text-decoration: none;
}
.categoryIdContainer .coverContainer {
  width: 95%;
  align-self: center;
}
.categoryIdContainer .coverContainer .cover {
  width: 100%;
}

.divMarginLeft {
  margin-left: 0;
}
@media screen and (max-width: 950px) {
  .divMarginLeft {
    margin-left: 70px;
  }
}
@media screen and (max-width: 900px) {
  .divMarginLeft {
    margin-left: 25px;
  }
}
@media screen and (max-width: 800px) {
  .divMarginLeft {
    margin-left: 0;
  }
}

.divLittleMargin {
  margin: 6px;
}

:root {
  font-family: "Lustria";
  line-height: 1.5;
  font-weight: 400;
  color: #2D3250;
  background-color: #f6f6ee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
}

.divContent {
  min-height: 100vh;
  padding-bottom: 100px;
}

main {
  margin-top: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: calc(0.5rem + 0.8vw);
}
@media screen and (min-width: 650px) and (max-width: 1024px) {
  nav {
    justify-content: space-around;
  }
}
nav img {
  width: 150px;
}
@media screen and (max-width: 768px) {
  nav img {
    width: 20%;
    z-index: 2;
  }
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}
@media screen and (min-width: 650px) and (max-width: 1024px) {
  nav ul {
    justify-content: space-around;
  }
}
nav ul a {
  text-decoration: none;
  color: #2D3250;
}
nav .buttonLog {
  text-decoration: none;
  text-align: center;
  color: #2D3250;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Lustria";
  font-size: calc(0.5rem + 0.8vw);
}
nav .responsiveButton {
  display: none;
}
nav .activeButton {
  display: block;
}
nav .activeLink {
  color: #F8B179;
}
@media screen and (max-width: 650px) {
  nav ul {
    position: fixed;
    left: -100%;
    top: 4%;
    flex-direction: column;
    background: #f6f6ee;
    width: 94%;
    text-align: center;
    transition: 0.25s;
  }
  nav li {
    padding: 3px;
  }
  nav a {
    margin-right: 38%;
  }
  nav .responsiveButton {
    display: block;
  }
  nav .activeButton {
    display: none;
  }
  nav .toggleNav {
    z-index: 1;
    left: 0;
    position: sticky;
  }
  nav .removeBtn {
    z-index: 2;
  }
}

.headerMenu {
  position: relative;
  width: 100%;
  background-color: #2D3250;
  overflow: hidden;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .headerMenu {
    height: 200px;
  }
}

.imageHeader {
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  opacity: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titleBlock {
  position: relative;
  z-index: 1;
  width: 30%;
  float: right;
  margin: 100px;
}
@media screen and (min-width: 768px) and (max-width: 950px) {
  .titleBlock {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .titleBlock {
    width: auto;
    margin: 50px;
  }
}
@media screen and (max-width: 500px) {
  .titleBlock {
    margin: 40px;
  }
}
.titleBlock p {
  color: #f6f6ee;
  font-size: 10pt;
  text-align: start;
}

footer {
  position: absolute;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #2D3250;
  color: #f6f6ee;
}
footer img {
  width: 85px;
}
footer p {
  font-size: 8pt;
  white-space: normal;
  margin: 20px;
}
footer .notice {
  text-align: center;
  margin: 0;
}

p {
  text-align: left;
}

.bar {
  padding-left: 1px;
  background: #2D3250;
  background-image: linear-gradient(to bottom, #f6f6ee, #2D3250, #f6f6ee);
}
@media screen and (max-width: 1023px) {
  .bar {
    padding-bottom: 1px;
    background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
    margin: 10px;
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: flex-start;
}
@media screen and (max-width: 500px) {
  .flexRowWrap {
    justify-content: center;
  }
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexAttribute {
  justify-content: center;
  align-items: center;
}

.flexResponsive {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .flexResponsive {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .responsiveFlexColumn {
    display: flex;
    flex-direction: column;
  }
}
.centerContainer {
  margin-left: 250px;
  margin-right: 250px;
}
@media screen and (max-width: 1600px) {
  .centerContainer {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media screen and (max-width: 1280px) {
  .centerContainer {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (max-width: 950px) {
  .centerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.colorOrange {
  color: #F8B179;
}/*# sourceMappingURL=styles.css.map */