@import './globals/_variables.scss';
@import './globals/_mixins.scss';


:root {
    font-family: $font-style;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $dark-blue;
    background-color: $light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

header {
    @include flexRow;
    align-items: center;
    img {
        width: 12%;
    }
    ul {
        list-style: none;
        justify-self: center;
        a {
            text-decoration: none;
            color: $dark-blue;
        }
    }
    .activeLink {
        color: $dark-blue;
    }
}

.paragraphFlex {
    @include flexColumn;
    .paragraphName{
        color: $dark-blue;
    }
}