@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap"); /**
 * Page du style pour les formulaires
 */
.container, .h2Form {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #2D3250;
}

form {
  width: 100%;
  padding: 30px;
  border: 1px solid #2D3250;
  border-radius: 10px;
  background: #f6f6ee;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=email], input[type=password], input[type=tel], input[type=text], input[type=number], input[type=date], input[type=search] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #2D3250;
  color: #f6f6ee;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #f6f6ee;
  color: #2D3250;
  border: 1px solid #2D3250;
}

input[type=button] {
  background-color: #f6f6ee;
  color: #2D3250;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #2D3250;
  cursor: pointer;
  width: 100%;
}

.button {
  text-decoration: none;
  background-color: #2D3250;
  color: #f6f6ee;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #f6f6ee;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #676F9D;
  border: 1px solid #2D3250;
  border-radius: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f6f6ee;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #f6f6ee;
  box-sizing: border-box;
}

/**
 * Feuille de style pour le dashboard de l'administrateur
 */
.dashboard {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}
.dashboard .boxContainer {
  border: 1px solid #2D3250;
  border-radius: 10px;
  height: -moz-min-content;
  height: min-content;
}
.dashboard .boxContainer .boxLien {
  display: flex;
  flex-direction: column;
}
.dashboard .boxContainer .boxLien h2 {
  text-decoration: underline;
  text-align: center;
}
.dashboard .boxContainer .boxLien .buttonAdmin {
  text-decoration: none;
  text-align: center;
  color: #2D3250;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}
.dashboard .boxContainer hr {
  border: 0;
  height: 1px;
  background: #2D3250;
  background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
}
.dashboard .infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dashboard .containerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .dashboard {
    gap: 10px;
  }
}

:root {
  font-family: "Lustria";
  line-height: 1.5;
  font-weight: 400;
  color: #2D3250;
  background-color: #f6f6ee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header img {
  width: 12%;
}
header ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-self: center;
}
header ul a {
  text-decoration: none;
  color: #2D3250;
}
header .activeLink {
  color: #F8B179;
}

.paragraphFlex {
  display: flex;
  flex-direction: column;
}
.paragraphFlex .paragraphName {
  color: #2D3250;
}/*# sourceMappingURL=styles.css.map */