@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap"); /**
 * Page du style pour les formulaires
 */
.mainRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .mainRow {
    display: flex;
    flex-direction: column;
  }
}

.container, .h2Form {
  width: 48%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #2D3250;
}

form, .form {
  padding: 30px;
  background: #f6f6ee;
}

input[type=email], input[type=password], input[type=tel], input[type=text], input[type=number], input[type=date], input[type=search], input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #2D3250;
  color: #f6f6ee;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #f6f6ee;
  color: #2D3250;
  border: 1px solid #2D3250;
}

input[type=button] {
  background-color: #f6f6ee;
  color: #2D3250;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #2D3250;
  cursor: pointer;
  width: 100%;
}

.button {
  text-decoration: none;
  background-color: #2D3250;
  color: #f6f6ee;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #f6f6ee;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #676F9D;
  border: 1px solid #2D3250;
  border-radius: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F8B179;
  border-radius: 10px;
  box-sizing: border-box;
}

/**
 * Feuille de style pour le dashboard de l'administrateur
 */
.dashboard {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.dashboard .boxContainer {
  border: 1px solid #2D3250;
  border-radius: 10px;
  height: -moz-min-content;
  height: min-content;
  width: 190px;
}
.dashboard .boxContainer .boxLien {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dashboard .boxContainer .boxLien h2 {
  text-decoration: underline;
  text-align: center;
  margin: 10px 0 5px 0;
}
.dashboard .boxContainer hr {
  border: 0;
  height: 1px;
  background: #2D3250;
  background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
}
.dashboard .bookContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 48%;
  margin-top: 10px;
}
.dashboard .bookContainer .coverContainer {
  width: 150px;
}
.dashboard .bookContainer .coverContainer .cover {
  width: 100%;
}
.dashboard .bookContainer .bookInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard .bookContainer .infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.dashboard .bookContainer .paragraphFlex {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.dashboard .bookContainer .paragraphFlex .paragraphName {
  color: #2D3250;
}
@media screen and (max-width: 1024px) {
  .dashboard .bookContainer {
    width: 98%;
  }
}
@media screen and (max-width: 767px) {
  .dashboard .bookContainer {
    display: flex;
    flex-direction: column;
  }
}
.dashboard .categoryContainer {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
.dashboard .authorContainer {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  width: 48%;
}
@media screen and (max-width: 1024px) {
  .dashboard .authorContainer {
    width: 90%;
  }
}
.dashboard .authorContainer .infoAuthor {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .dashboard .authorContainer .infoAuthor {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.dashboard .authorContainer .infoAuthor .authorItem {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 900px) {
  .dashboard {
    gap: 30px;
  }
}

.sectionRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: flex-start;
  gap: 20px;
  width: 75%;
}
@media screen and (max-width: 767px) {
  .sectionRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

h3 {
  margin: 5px 0 0 0;
}

.iconButton {
  text-decoration: none;
  width: 50px;
  height: 50px;
  color: #f6f6ee;
  padding: 14px 14px;
  margin: 8px 0;
  border: 1px solid #f6f6ee;
  border-radius: 10px;
  cursor: pointer;
}

.eye {
  background-color: #676F9D;
  padding: 14px 13px;
}

.eye:hover {
  background-color: #2D3250;
}

.pen {
  background-color: #F8B179;
}

.pen:hover {
  background-color: #f48730;
}

.trash {
  background-color: #CD5C5C;
}

.trash:hover {
  background-color: #A62C31;
}

.buttonAdmin {
  text-decoration: none;
  text-align: center;
  color: #2D3250;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: "Lustria";
  font-size: 16px;
}

:root {
  font-family: "Lustria";
  line-height: 1.5;
  font-weight: 400;
  color: #2D3250;
  background-color: #f6f6ee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header img {
  width: 12%;
}
header nav {
  flex: 1;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-self: center;
}
header nav ul a {
  text-decoration: none;
  color: #2D3250;
}
header nav .activeLink {
  color: #F8B179;
}

p {
  text-align: left;
}

.bar {
  padding-left: 1px;
  background: #2D3250;
  background-image: linear-gradient(to bottom, #f6f6ee, #2D3250, #f6f6ee);
}/*# sourceMappingURL=styles.css.map */