/**
 * Feuille de style pour le dashboard de l'administrateur
 */

.buttonBugger {
    text-decoration: none;
    text-align: center;
    color: $dark-blue;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Lustria";
    font-size: calc(0.5rem + 0.8vw);
    margin-left: 20px;
    display: none;
    @media screen and (max-width: 950px) {
        display: block;
    }
}
.list {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 950px) {
        width: 95%;
        margin-right: 0;
    }
    @media screen and (max-width: 650px) {
        margin-left: 10px;
        .divNone {
            display: none;
        }
    }
}

.dashboard {
    @include flexRow;

    .boxContainer {
        border: 1px solid $dark-blue;
        border-radius: 10px;
        height: min-content;
        width: 190px;
        margin-left: 20px;

        @media screen and (max-width: 950px) {
            position: fixed;
            left: -100%;
            transition: 0.25s;
        }

        .boxLien {
            @include flexColumn;
            width: 100%;

            h2 {
                text-decoration: underline;
                text-align: center;
                margin: 10px 0 5px 0;
            }
        }

        hr {
            border: 0;
            height: 1px;
            background: #2D3250;
            background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
        }

    }
    .toggleNavAdmin {
        position: absolute;
        left: 0;
        background-color: $light;
    }

    .itemFlex {
        margin: 10px;
    }

    .barLine {
        border-bottom: 1px solid $dark-blue;
    }

    .categoryContainer {
        @include flexColumn;
        height: fit-content;
        margin-left: 50px;
        @media screen and (max-width: 650px) {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: 900px) {
        gap: 30px;
    }
}

.sectionRow {
    @include flexRowWrap;
    gap: 20px;
    width: 75%;

    @media screen and (max-width: 767px) {
        @include flexColumn;
        width: 100%;
        justify-content: center;
    }
}

.iconButton {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: $light;
    padding: 14px 14px;
    margin: 8px 0;
    border: 1px solid $light;
    border-radius: 10px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
        margin: 0;
    }
}

.eye {
    background-color: $light-blue;
    padding: 14px 13px;
}

.eye:hover {
    background-color: $dark-blue;
}

.pen {
    background-color: $orange;
}

.pen:hover {
    background-color: darken($orange, 15%);
}

.trash {
    background-color: $red-light;
}

.trash:hover {
    background-color: $red;
}

.buttonAdmin {
    text-decoration: none;
    text-align: center;
    color: $dark-blue;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Lustria";
    font-size: 16px;
}

.spanEmpty {
    margin-left: 153px;
    @media screen and (max-width: 767px) {
        margin-left: 53px;
    }
}