/**
 * Feuille de style pour le dashboard de l'administrateur
 */

.dashboard {
    @include flexRow;
    gap: 60px;

    .boxContainer {
        border: 1px solid $dark-blue;
        border-radius: 10px;
        height: min-content;
        width: 190px;

        .boxLien {
            @include flexColumn;
            width: 100%;

            h2 {
                text-decoration: underline;
                text-align: center;
                margin: 10px 0 5px 0;
            }
        }

        hr {
            border: 0;
            height: 1px;
            background: #2D3250;
            background-image: linear-gradient(to right, #f6f6ee, #2D3250, #f6f6ee);
        }
    }

    .bookContainer {
        @include flexRow;
        gap: 10px;
        width: 48%;
        margin-top: 10px;

        .coverContainer {
            width: 150px;

            .cover {
                width: 100%;
            }
        }

        @media screen and (max-width: 1024px) {
            width: 98%;
        }

        @media screen and (max-width: 767px) {
            @include flexColumn;
        }
    }

    .categoryContainer {
        @include flexColumn;
        height: fit-content;
    }

    .authorContainer {
        @include flexColumn;
        height: fit-content;
        gap: 10px;
        width: 48%;

        @media screen and (max-width: 1024px) {
            width: 90%;
        }

        .infoAuthor {
            @include flexRow;
            gap: 20px;

            @media screen and (max-width: 767px) {
                @include flexColumn;
                gap: 10px;
            }

            .authorItem {
                @include flexColumn;
            }
        }

    }

    @media screen and (max-width: 900px) {
        gap: 30px;
    }
}

.sectionRow {
    @include flexRowWrap;
    gap: 20px;
    width: 75%;

    @media screen and (max-width: 767px) {
        @include flexColumn;
        width: 100%;
        justify-content: center;
    }
}

.bookInfo {
    @include flexColumn;
    gap: 10px;
}

.paragraphFlex {
    @include flexColumn;
    margin: 0;
}

.paragraphName {
    color: $dark-blue;
}

h3 {
    margin: 5px 0 0 0;
}

.iconButton {
    text-decoration: none;
    width: 50px;
    height: 50px;
    color: $light;
    padding: 14px 14px;
    margin: 8px 0;
    border: 1px solid $light;
    border-radius: 10px;
    cursor: pointer;
}

.eye {
    background-color: $light-blue;
    padding: 14px 13px;
}

.eye:hover {
    background-color: $dark-blue;
}

.pen {
    background-color: $orange;
}

.pen:hover {
    background-color: darken($orange, 15%);
}

.trash {
    background-color: $red-light;
}

.trash:hover {
    background-color: $red;
}

.buttonAdmin {
    text-decoration: none;
    text-align: center;
    color: $dark-blue;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Lustria";
    font-size: 16px;
}