/**
 * Page du style pour les formulaires
 */

// Bordure des formulaires 
.container, .h2Form{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    color: $dark-blue;
}
form {
    width:100%;
    padding: 30px;
    border: 1px solid $dark-blue;
    border-radius: 10px;
    background: $light;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

// Harmoniser les inputs 
input[type=email], input[type=password],  input[type=tel], input[type=text], input[type=number], input[type=date], input[type=search], input[type=file]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $orange;
    box-sizing: border-box;
}

// Pour définir un style pour tous les boutons
input[type=submit] {
    background-color: $dark-blue;
    color: $light;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: $light;
    color: $dark-blue;
    border: 1px solid $dark-blue;
}
input[type=button] {
    background-color: $light;
    color: $dark-blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid $dark-blue;
    cursor: pointer;
    width: 100%;
}
.button{
    text-decoration: none;
    background-color: $dark-blue;
    color: $light;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid $light;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: $light-blue;
    border: 1px solid $dark-blue;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $orange;
    box-sizing: border-box;
    text-align: center;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $orange;
    box-sizing: border-box;
}