/**
 * Page du style pour les formulaires
 */

.mainRow {
    @include flexRow;
    width: 100%;
    @media screen and (max-width: 1023px) {
        @include flexColumn;
    }
}
// Bordure des formulaires 
.container, .h2Form{
    width: 48%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    color: $dark-blue;
    @media screen and (max-width: 1023px) {
        width: 90%;
    }
}
form, .form {
    // width:100%;
    padding: 30px;
    // border: 1px solid $dark-blue;
    // border-radius: 10px;
    background: $light;
    // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

// Harmoniser les inputs 
input[type=email], input[type=password],  input[type=tel], input[type=text], input[type=number], input[type=date], input[type=search], input[type=file], .labelImage{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $orange;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: $font-style;
    color: $dark-blue;
}

input[type=file]::file-selector-button {
    // display: none;
    text-align: center;
    color: $light;
    background-color: $dark-blue;
    font-family: $font-style;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left: 30%;
}

// Pour définir un style pour tous les boutons
input[type=submit] {
    background-color: $dark-blue;
    color: $light;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: $font-style;
}
input[type=submit]:hover {
    background-color: $light;
    color: $dark-blue;
    border: 1px solid $dark-blue;
}
input[type=button] {
    background-color: $light;
    color: $dark-blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid $dark-blue;
    cursor: pointer;
    width: 100%;
    font-family: $font-style;
}
.button{
    text-decoration: none;
    background-color: $dark-blue;
    color: $light;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid $light;
    border-radius: 10px;
    cursor: pointer;
    font-family: $font-style;
}
.button:hover{
    background-color: $light;
    color: $dark-blue;
    border: 1px solid $dark-blue;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $orange;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: $font-style;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $orange;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: $font-style;
    color: $dark-blue;
}