.bookIdContainer {
    width: 55%;
    border-radius: 10px;
    box-shadow: rgba(45, 50, 80, 0.15) 2px 2px 5px 0px, rgba(45, 50, 80, 0.15) -2px 2px 5px 0px;
    margin-top: 50px;

    @media screen and (max-width: 950px) {
        width: 95%;
    }

    h2 {
        text-align: center;
        background-color: $dark-blue;
        color: $light;
        border-radius: 10px 10px 0 0;
        margin: 0;
        font-size: 16pt;
        min-height: 50px;
        padding: 15px 5px 0 5px;
    }

    .coverContainer {
        width: 200px;

        @media screen and (max-width: 767px) {
            width: 95%;
            align-self: center;
        }

        .cover {
            width: 100%;
        }
    }
}

h2{
    margin: 5px 0;
}
h3 {
    margin: 0;
}

.buttonContainerLibrary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridBook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
a{
    color: $dark-blue;
    text-decoration: none;
}
.blocCategory{
    text-align: center;
    a{
        color: $dark-blue;
        text-decoration: none;
    }
}
.containerCategory {
    border-radius: 10px;
    box-shadow: rgba(45, 50, 80, 0.15) 2px 2px 5px 0px, rgba(45, 50, 80, 0.15) -2px 2px 5px 0px;
    // margin: 10px;
    width: 250px;
    .coverCategory {
        width: 50px;
        .coverMini{
            width: 100%;
        }
    }
}

.textAlign {
    text-align: center;
}

.categoryIdContainer {
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(45, 50, 80, 0.15) 2px 2px 5px 0px, rgba(45, 50, 80, 0.15) -2px 2px 5px 0px;
    margin-top: 10px;
    a{
        color: $dark-blue;
        text-decoration: none;
    }

    .coverContainer {
        width: 95%;
        align-self: center;

        .cover {
            width: 100%;
        }
    }
}

.divMarginLeft {
    margin-left: 0;
    @media screen and (max-width: 950px) {
        margin-left: 70px;
    }
    @media screen and (max-width: 900px) {
        margin-left: 25px;
    }
    @media screen and (max-width: 800px) {
            margin-left: 0;
        }
}

.divLittleMargin {
    margin: 6px;
}

.divMarginTop {
    margin-top: 15px;
}


