.sectionRowWrap {
    @include flexRowWrap;
    gap: 20px;
    margin-left: 10px;
}

.libraryContainer {
    width: 100%;
    gap: 10px;

    @media screen and (max-width: 1023px) {
        margin-top: 20px;
    }
}

.libraryBook {
    width: 48%;
    gap: 10px;
    @media screen and (max-width: 1023px) {
        width: 100%;
    }
}

.coverContainerMini {
    width: 100px;

    .coverMini {
        width: 100%;
    }
}

.readerBook {
    width: 100%;
    gap: 3px;
}

.containerInfo {
    @include flexColumn;
    width: 24%;
    
    @media screen and (max-width: 1023px) {
        width: 100%;
        margin-left: 10px;
    }

    h2 {
        margin: 15px 0 0 10px;
    }
}

.border {
    border: 1px solid $dark-blue;
    border-radius: 10px;
    background-color: $dark-blue;
}

.labelInfo {
    width: 150px;
}

.divColor {
    color: $light;
}

.divMargin {
    margin-left: 10px;
}