@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap');

// Couleurs
$dark-blue : #2D3250;
$orange : #F8B179;
$light-blue : #676F9D;
$light : #f6f6ee;

// Police d'écriture
$font-style : "Lustria";
$font-title : 'Cinzel', serif;
$font-cursive : 'Cinzel Decorative', cursive;